<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
  <link rel="stylesheet" href="../static/index.css">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Game Stat Tracker</title>
</head>

<!--Navbar -->
<nav style="margin-bottom: 0px !important; " class="mb-1 navbar navbar-expand-lg navbar-dark bg-danger">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stats">Game Stats</a>
      </li>
    </ul>
    <!-- <li class="list-inline-item" style="margin-right: 40px;">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#steamModal">
        Access Steam Game List
      </button>
    </li> -->
    </ul>
  </div>
  <div>
    <img src="../static/logo.png" alt="Logo" />
  </div>
</nav>


<!--SteamId Modal-->
<div class="modal fade" id="steamModal" tabindex="-1" role="dialog" aria-labelledby="steamModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="steamModalLabel">Steam Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="steamId">Enter your 17-digit steam ID: </label>
            <input id="steamId" type="text" />
          </div>
      </div>
      <button type="button" class="btn btn-outline-primary" id="steamId" onclick="handleClick()">Submit</button>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<body>
  <style type="text/css">
    body {
      background-color: gray;
    }
  </style>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active" style="background-image: url(../static/gamecollage.jpg); height: 300px"></div>
  </div>
  <div>
    <!--Current Steam Games-->
    <h1 class="display-4" style="text-align: center">Made by Gamers for Gamers</h1>
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <button id="steamToggle" type="button" class=" text-center btn btn-primary" data-toggle="modal"
            data-target="#steamModal" style="margin-top:20px">
            Access Steam Game List
          </button>
        </div>
      </div>
    </div>
    <h1 id="top5Games" class="display-6" style="display: none; text-align: center; margin-top: 20px">Your Top 5 Most
      Played Games</h1>
    <ul class="list-inline" id="top5" style="display: flex !important; margin: 67px 0px 70px 10px">
    </ul>

    <script>
      function handleClick() {
        getGames(document.getElementById('steamId').value)
        document.getElementById("steamToggle").style = "display: none"
        if (document.getElementById("steamToggle").style.display = "none") {
          document.getElementById("top5Games").style.display = "block"
        }
      }
    </script>
    <!--SteamAPI call and game filter-->
    <script>
      //Gets the top 5 most played games
      function getTop5(games) {
        function compare(a, b) {
          if (a.playtime_forever > b.playtime_forever) return -1;
          if (b.playtime_forever < a.playtime_forever) return 1;
          return 0;
        }
        games.sort(compare)
        return games.slice(0, 5)
      }
      //SteamAPI call
      async function getGames(steamId) {
        const res = await fetch(
            `https://cors-anywhere.herokuapp.com/http://api.steampowered.com/IPlayerService/GetOwnedGames/v0001/?key=51308B81C43F32B31D29980442A2CDF0&steamid=${steamId}&include_appinfo=true&include_played_free_games=true&format=json`
          )
          .then(res => res.json());
        let games = getTop5(res.response.games)
        document.getElementById("top5").innerHTML = ""
        games.map((game) => {
          console.log(game)
          let li = document.createElement("li")
          li.classList.add("list-inline-item")
          li.style.flex = "1 1 100%"
          li.style.marginLeft = "40px"
          let div = document.createElement("div")
          //li.style.margin = "11px"
          let pname = document.createElement("p")
          pname.classList.add("h6")
          let img = document.createElement("img")
          img.style.alignSelf = "center"
          let phours = document.createElement("p")
          phours.classList.add("lead")
          pname.innerHTML = game.name
          phours.innerHTML = `${Math.floor(game.playtime_forever / 60)} hours played`
          img.src =
            `http://media.steampowered.com/steamcommunity/public/images/apps/${game.appid}/${game.img_logo_url}.jpg`
          div.appendChild(pname)
          div.appendChild(img)
          div.appendChild(phours)
          li.appendChild(div)
          document.getElementById("top5").appendChild(li)
        })

        /*gameName.innerHTML = `${res.response.games[0].name}`;
        timePlayed.innerHTML = `${res.response.games[0].playtime_forever} hours`
        const appId = `${res.response.games[0].appid}`
        gameIcon.src =
          `http://media.steampowered.com/steamcommunity/public/images/apps/${appId}/${res.response.games[0].img_logo_url}.jpg`*/
      }
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
  </div>
</body>

</html>