<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/index.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Stat Tracker</title>
</head>

<!--Navbar -->
<nav style="margin-bottom: 0px !important; " class="mb-1 navbar navbar-expand-lg navbar-dark bg-danger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/stats">Game Stats</a>
            </li>
        </ul>
        </ul>
    </div>
    <div>
        <img src="../static/logo.png" alt="Logo" />
    </div>
</nav>

<!--Select Game Modal-->
<div class="modal fade" id="selectGameModal" tabindex="-1" role="dialog" aria-labelledby="selectGameModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectGameModalLabel">Select A Game</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="fortnite" onclick="handleSubmit()"
                            value="option1"> Fortnite
                    </label>
                    <br>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="apex" onclick="handleSubmit()"
                            value="option2"> Apex Legends
                    </label>
            </div>
            <button type="button" class="btn btn-outline-primary" id="selectGameId" onclick="handleClick()"
                disabled="true">Submit</button>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Fortnite Stats Modal-->
<div class="modal fade" id="fortniteModal" tabindex="-1" role="dialog" aria-labelledby="fortniteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fortniteModalLabel">Fortnite Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="platformId">Enter your gaming platform </label>
                        <input id="platformId" type="text" />
                        <small class="form-text text-muted">Either kbm, gamepad or touch (Lower Case
                            Sensitive)</small>
                    </div>
                    <div class="form-group">
                        <label for="epicId">Enter your epic username </label>
                        <input id="epicId" type="text" />
                        <small class="form-text text-muted">This is case sensitive</small>
                    </div>
            </div>
            <p class="bg-danger" style="font-size: x-small;">Disclaimer: kbm is the PC platform <br> gamepad references
                the PS4, Xbox and Switch consoles <br> touch references the phone platform </p>
            <button type="button" class="btn btn-outline-primary" id="fortniteId"
                onclick="handleFnLogin()">Submit</button>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Apex Stats Modal-->
<div class="modal fade" id="apexModal" tabindex="-1" role="dialog" aria-labelledby="apexModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="apexModalLabel">Apex Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="apexPlatformId">Enter your gaming platform </label>
                        <input id="apexPlatformId" type="text" />
                        <small class="form-text text-muted">Either origin, xbl or psn (Lower Case
                            Sensitive)</small>
                    </div>
                    <div class="form-group">
                        <label for="originId">Enter your origin username </label>
                        <input id="originId" type="text" />
                        <small class="form-text text-muted">Either origin id, xbox gamertag or psn id (Case
                            Sensitive)</small>
                    </div>
            </div>
            <p class="bg-danger" style="font-size: x-small;">Disclaimer: origin is the PC platform <br> xbl references
                the Xbox platform <br> psn references the Playstation platform </p>
            <p class="bg-danger" style="font-size: x-small;">Note: Origin Username references your: <br> Origin Id on pc
                <br>
                Xbox gamertag for Xbox <br> PSN ID for Playstation </p>
            <button type="button" class="btn btn-outline-primary" id="fortniteId"
                onclick="handleApexLogin()">Submit</button>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<body>
    <style type="text/css">
        body {
            background-color: gray;
        }
    </style>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active" style="background-image: url(../static/gamecollage.jpg); height: 300px"></div>
    </div>
    <p class="display-4" style="text-align: center">Game Statistics Tracker</p>
    <button type="button" class="btn btn-primary text-right" data-toggle="modal"
        style="margin-top: 15px; margin-left: 15px; margin-bottom: 10px" data-target="#selectGameModal">
        Select A Game
    </button>

    <div id="fortniteDetails" style="display: none;">
        <img src="../static/fornitelogo.png" style="width: 40px !important; border-radius: 10px; margin-left:10px" />
        <button style=" margin-top: 15px; margin-left: 10px; margin-bottom: 15px" type="button"
            class="btn btn-outline-dark  text-right" data-toggle="modal" data-target="#fortniteModal">
            <strong>Enter Fortnite Details</strong>
        </button>

    </div>

    <div>
        <table style="display: none; width: 80%; margin: auto; margin-bottom: 15px" id="fnTable"
            class="table table-hover text-center table-dark">
            <thead>
                <tr>
                    <th scope="col">Wins</th>
                    <th scope="col">Top 5</th>
                    <th scope="col">Top 10</th>
                    <th scope="col">Matches Played</th>
                    <th scope="col">Kills</th>
                    <th scope="col">Kd</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">
                        <p id="wins"><strong></strong></p>
                    </td>
                    <td>
                        <p id="top5"></p>
                    </td>
                    <td>
                        <p id="top10"></p>
                    </td>
                    <td>
                        <p id="matchesPlayed"></p>
                    </td>
                    <td>
                        <p id="kills"></p>
                    </td>
                    <td>
                        <p id="kd"><strong></strong></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="apexDetails" style="display: none;">
        <img src="../static/apexlogo.jpg"
            style="width: 40px !important; border-radius: 10px; margin-left:10px; margin-bottom: 15px" />
        <button id="apexDetails" style="margin-left: 15px; margin-bottom: 15px" type="button"
            class="btn btn-outline-dark text-right" data-toggle="modal" data-target="#apexModal">
            <strong>Enter Apex Legends Details</strong>
        </button>
    </div>
    <div>
        <table style="display: none; width: 80%; margin: auto" id="apexTable"
            class="table table-hover text-center table-dark">
            <thead>
                <tr>
                    <th scope="col">Wins</th>
                    <th scope="col">Kills</th>
                    <th scope="col">Headshots</th>
                    <th scope="col">Rank Score</th>
                    <th scope="col">Level</th>
                    <th scope="col">Current Legend</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">
                        <p id="alWins"></p>
                    </td>
                    <td>
                        <p id="alKills"></p>
                    </td>
                    <td>
                        <p id="headshots"></p>
                    </td>
                    <td>
                        <p id="rankScore"></p>
                    </td>
                    <td>
                        <p id="level"></p>
                    </td>
                    <td>
                        <p id="activeLegend"></p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<script>
    function handleSubmit() {
        if (document.getElementById("apex").checked || document.getElementById("fortnite").checked) {
            document.getElementById("selectGameId").disabled = false
        }
    }
</script>

<script>
    function handleClick() {
        const apexId = document.getElementById("apex")
        apexId.checked ? document.getElementById("apexDetails").style.display = "block" : document.getElementById(
            "fortniteDetails").style.display = "block"
    }
</script>

<script>
    function handleFnLogin() {
        getFnStats(document.getElementById("platformId").value, document.getElementById("epicId").value)
        document.getElementById("fnTable").style.display = "table"
    }
</script>

<script>
    function handleApexLogin() {
        getApexStats(document.getElementById("apexPlatformId").value, document.getElementById("originId").value)
        document.getElementById("apexTable").style.display = "table"
    }
</script>

<!--Fortnite API Call-->
<script>
    async function getFnStats(platform, epicid) {
        var myHeaders = new Headers();
        myHeaders.append("TRN-Api-Key", "c824218b-5c57-4282-9955-dee41ae9af62");

        var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
        };
        const top10 = document.getElementById('top10');
        const top5 = document.getElementById('top5');
        const wins = document.getElementById('wins');
        const matchesPlayed = document.getElementById('matchesPlayed')
        const kills = document.getElementById('kills')
        const kdratio = document.getElementById('kd')

        const res = await fetch(
                `https://cors-anywhere.herokuapp.com/https://api.fortnitetracker.com/v1/profile/${platform}/${epicid}`,
                requestOptions)
            .then(res => res.json());
        console.log(res)
        wins.innerHTML = `${res.lifeTimeStats[8].value}`
        top5.innerHTML = `${res.lifeTimeStats[0].value}  `
        top10.innerHTML = `${res.lifeTimeStats[3].value}`
        matchesPlayed.innerHTML = `${res.lifeTimeStats[7].value} `
        kills.innerHTML = `${res.lifeTimeStats[10].value} `
        kd.innerHTML = `${res.lifeTimeStats[11].value}`
    }
</script>

<!--Apex Legends API Call-->
<script>
    async function getApexStats(platform, originId) {
        var myHeaders = new Headers();
        myHeaders.append("TRN-Api-Key", "c824218b-5c57-4282-9955-dee41ae9af62");

        var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
        };
        const alKills = document.getElementById('alKills');
        const headshots = document.getElementById('headshots');
        const alWins = document.getElementById('alWins');
        const level = document.getElementById('level')
        const rankScore = document.getElementById('rankScore')
        const activeLegend = document.getElementById('activeLegend')

        const res = await fetch(
                `https://cors-anywhere.herokuapp.com/https://public-api.tracker.gg/v2/apex/standard/profile/${platform}/${originId}`,
                requestOptions)
            .then(res => res.json());
        console.log(res)
        alKills.innerHTML = `${res.data.segments[0].stats.kills.displayValue}`
        headshots.innerHTML = `${res.data.segments[0].stats.headshots.displayValue}`
        alWins.innerHTML = `${res.data.segments[0].stats.season4Wins.displayValue}`
        level.innerHTML = `${res.data.segments[0].stats.level.displayValue}`
        rankScore.innerHTML = `${res.data.segments[0].stats.rankScore.displayValue}`
        activeLegend.innerHTML = `${res.data.metadata.activeLegendName}`
    }
</script>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>

</html>