<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link rel="stylesheet" href="../static/index.css">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Game Stat Tracker</title>
</head>

<!--Navbar -->
<nav style="margin-bottom: 0px !important; " class="mb-1 navbar navbar-expand-lg navbar-dark bg-danger">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
        aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/stats">Stats</a>
            </li>
        </ul>
        <!-- <li class="list-inline-item" style="margin-right: 40px;">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#steamModal">
                Access Steam Game List
            </button>
        </li> -->
        </ul>
    </div>
    <div>
        <img src="../static/logo.png" alt="Logo" />
    </div>
</nav>

<!--Select Game Modal-->
<div class="modal fade" id="selectGameModal" tabindex="-1" role="dialog" aria-labelledby="selectGameModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="selectGameModalLabel">Select A Game</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="fortnite" value="option1"> Fortnite
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="inlineRadioOptions" id="apex" value="option2"> Apex Legends
                    </label>
            </div>
            <button type="button" class="btn btn-outline-primary" id="steamId"
                onclick="handleClick(this)">Submit</button>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Fortnite Stats Modal-->
<div class="modal fade" id="fortniteModal" tabindex="-1" role="dialog" aria-labelledby="fortniteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fortniteModalLabel">Fortnite Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="platformId">Enter your gaming platform </label>
                        <input id="platformId" type="text" />
                    </div>
                    <div class="form-group">
                        <label for="epicId">Enter your epic username </label>
                        <input id="epicId" type="text" />
                    </div>
            </div>
            <p class="bg-danger" style="font-size: x-small;">Disclaimer: KBM is the PC platform <br> Gamepad references
                the PS4, Xbox and Switch consoles <br> Touch references the phone platform </p>
            <button type="button" class="btn btn-outline-primary" id="steamId" onclick="handleLogin()">Submit</button>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<body onload="getApexStats()">
    <button type="button" class="btn btn-primary text-right" data-toggle="modal" data-target="#selectGameModal">
        Select A Game
    </button>
    <button id="fortniteDetails" style="display: none;" type="button" class="btn btn-primary text-right"
        data-toggle="modal" data-target="#fortniteModal">
        Enter Fortnite Details
    </button>
    <div class="container">
        <h3 id="wins"></h3>
        <p id="top5"></p>
        <p id="top10"></p>
        <p id="matchesPlayed"></p>
        <p id="kills"></p>
        <h3 id="kd"></h3>
    </div>

    <div class="container">
        <h3 id="alWins"></h3>
        <p id="alKills"></p>
        <p id="headshots"></p>
        <p id="rankScore"></p>
        <p id="level"></p>
        <h3 id="activeLegend"></h3>
        <p></p>
    </div>
</body>

<script>
    function handleClick() {
        document.getElementById("fortniteDetails").style = "display: block"
    }
</script>

<script>
    function handleLogin() {
        getFnStats(document.getElementById("platformId").value, document.getElementById("epicId").value)
    }
</script>
<!--Fortnite API Call-->
<script>
    async function getFnStats(platform, epicid) {
        var myHeaders = new Headers();
        myHeaders.append("TRN-Api-Key", "c824218b-5c57-4282-9955-dee41ae9af62");

        var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
        };
        const top10 = document.getElementById('top10');
        const top5 = document.getElementById('top5');
        const wins = document.getElementById('wins');
        const matchesPlayed = document.getElementById('matchesPlayed')
        const kills = document.getElementById('kills')
        const kdratio = document.getElementById('kd')

        const res = await fetch(
                `https://cors-anywhere.herokuapp.com/https://api.fortnitetracker.com/v1/profile/${platform}/${epicid}`,
                requestOptions)
            .then(res => res.json());
        console.log(res)
        wins.innerHTML = `${res.lifeTimeStats[8].value} total wins`
        top5.innerHTML = `You were top 5, ${res.lifeTimeStats[0].value} times `
        top10.innerHTML = `You were top 10, ${res.lifeTimeStats[3].value} times`
        matchesPlayed.innerHTML = `You've played ${res.lifeTimeStats[7].value} matches`
        kills.innerHTML = `You have ${res.lifeTimeStats[10].value} kills`
        kd.innerHTML = `${res.lifeTimeStats[11].value}kd`
    }
</script>

<!--Apex Legends API Call-->
<script>
    async function getApexStats() {
        var myHeaders = new Headers();
        myHeaders.append("TRN-Api-Key", "c824218b-5c57-4282-9955-dee41ae9af62");

        var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
        };
        const alKills = document.getElementById('alKills');
        const headshots = document.getElementById('headshots');
        const alWins = document.getElementById('alWins');
        const level = document.getElementById('level')
        const rankScore = document.getElementById('rankScore')
        const activeLegend = document.getElementById('activeLegend')

        const res = await fetch(
                "https://cors-anywhere.herokuapp.com/https://public-api.tracker.gg/v2/apex/standard/profile/origin/fully_assassin",
                requestOptions)
            .then(res => res.json());
        console.log(res)
        alKills.innerHTML = `${res.data.segments[0].stats.kills.displayValue} total Kills!`
        headshots.innerHTML = `${res.data.segments[0].stats.headshots.displayValue} total Headshots!`
        alWins.innerHTML = `${res.data.segments[0].stats.season4Wins.displayValue} total Wins!`
        level.innerHTML = `Level ${res.data.segments[0].stats.level.displayValue}`
        rankScore.innerHTML = `Rank Score: ${res.data.segments[0].stats.rankScore.displayValue}`
        activeLegend.innerHTML = `Current Legend: ${res.data.metadata.activeLegendName}`
    }
</script>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>

</html>